@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

:root {
  --font: 'Roboto Mono', monospace;
  --font-color: #f9f5d7;
  --bg-main: #9ec4b2;
  --bg-2: #e59c41;
  --accent-color: #949600;
}

/* :root {
  --font: 'Roboto Mono', monospace;
  --font-color: #f9f5d7;
  --bg-main: #282828;
  --bg-2: #474554;
  --accent-color: #004f57;
} */

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: var(--font);
  color: var(--font-color);
}

body {
  min-height: 100vh;
  background-color: var(--bg-main);
}

.page {
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-main);
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 100%;
  height: 300px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header>p {
  width: 80%;
  text-align: center;
}

.header>a {
  text-decoration: none;
  text-decoration: underline;
}

.menu{
  height:80px;
  background-color: var(--bg-main);
}



.content {
  height: 600px;
  display: flex;
  flex-wrap: wrap;
}

.project_container {
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 2px solid var(--accent-color);
  position: relative;
}

.demo_link {
  text-decoration: none;
}

.project_screenshot {
  width: 100%;
  display: block;
}

.project_info {
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 500ms ease;
  transition-property: opacity;
  background-color: var(--bg-2);
  color: var(--font-color);
}

.project_container:hover .project_info {
  opacity: .9;
}

/* Mobile Styles */

@media only screen and (max-width: 400px) {
  /* body {
      background-color: #F09A9D;
    } */
}

/* Tablet Styles */

@media only screen and (min-width: 401px) and (max-width: 960px) {
  .project_container {
    width: 50%;
  }
}

/* Desktop Styles */

@media only screen and (min-width: 961px) {
  .page {
    /* width: 960px; */
    width: 100%;
    margin: 0 auto;
  }
  .project_container {
    width: 33.3%;
  }
  .header {
    height: 400px;
  }
  .sign-up {
    height: 200px;
    order: 1;
  }
  .content {
    order: 2;
  }
}